<component name="libraryTable">
  <library name="spring-boot-fullstack-basic-auth-login-logout-0.0.1-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/target/spring-boot-fullstack-basic-auth-login-logout-0.0.1-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>